/* Versão Mobile */
.hero-img {
  height: 400px;
  width: 100%;
  background-image: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

/* Versão Tablet */
@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background-image: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
}

/* Versão Desktop */
@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background-image: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
}
